*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.img-banner {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}

.img-info h2{
    padding: 40px 0px 0px 30px;
    font-family: 'Times New Roman';
    font-size: 2em;
    color: black;
    line-height: 45px;
}
.img-info p{
    padding: 30px 0px 0px 30px;
    font-family: 'Times New Roman';
    font-size: 1em;
    color: black;
    line-height: 35px;
}
.img-info{
    width: 50%;
    float: right;
}
.img-news {
    width: 50%;
    float: left;
    padding-top: 40px;
}

@media only screen and (max-width: 768px){
    .wrapper {
        width: 600px;
    }

    .img-info h2{
        padding: 20px 0px 0px;
    }

    .img-info p{
        padding: 20px 0px 0px;
    }

    .img-info{
        width: 100%;
        display: block;
    }

    .img-news {
        width: 100%;
        padding-top: 30px;
        display: block;
    }
}

@media only screen and (max-width: 576px){
    .wrapper {
        width: 100%;
    }
    
    .img-banner {
        display: none;
    }

    .img-info h2{
        padding: 30px 30px 20px;
    }

    .img-info p{
        padding: 20px 30px 20px;
    }
    
    .img-news {
        width: 100%;
    }
}